rupture.scale = 0 480px 600px 800px 1280px 1600px
@import 'vars/*'
@import 'base/*'
@import 'components/*'
html
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color transparent
  box-sizing border-box

*, *:before, *:after
  box-sizing border-box
  margin 0

html,
body,
#__nuxt,
#__layout,
.__layout
  background#000000
  height 100%
  overscroll-behavior none
  position relative
  font-family $walsheim
  font-weight normal
  width 100%
  font-size 12px
img
  display block
  height auto
body
  color $white
  a
    color inherit
