rupture.scale = 0 480px 600px 800px 1280px 1600px
@import 'vars/*'
@import 'base/*'
@import 'components/*'
html
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color transparent
  box-sizing border-box

*, *:before, *:after
  box-sizing border-box
  margin 0

html,
body,
#__nuxt,
#__layout,
.__layout
  height 100%
  position relative
  font-family $walsheim
  font-weight normal
  width 100%
  font-size 14px
  overscroll-behavior none
img
  display block
  height auto
body
  color $white
  a
    color inherit
.color1 *::selection {
   background: #ff501e;
   color: #ffffff;
}

.color2 *::selection {
   background: #F9DDDD;
   color: #F93700;
}

.color3 *::selection {
   background: #505050;
   color: #ffffff;
}

.color4 *::selection {
   background: #DED5C4;
   color: #ffffff;
}
