html,
body,
p
  font-size $fontSizeUnit
  line-height $lineHeight
  font-family $walsheim
  font-size 12px
p
  margin-bottom 1em
  line-height 1.6
h1, h2, h3, h4
  margin 0
  padding 0
  font-size 12px
  font-weight normal
.strong
  font-family $walsheim
  font-weight normal
  text-transform uppercase
  font-size 12px
  font-weight $light
.demi
  font-weight $demi
.italic
  font-style italic
  font-weight $demi
.red
  color $red
