html,
body,
p
  font-size $fontSizeUnit
  line-height $lineHeight
  font-family $walsheim
  font-size 20px
p
  margin-bottom 1em
  line-height 1.6

.strong
  font-family $walsheim
  font-weight normal
  text-transform uppercase
  font-size 0.6vw
  font-weight $light
.italic
  font-style italic
  font-weight $demi
