//json('./../../variables.json')
$fontSizeUnit = 14px
$unitH = 100vw / 2880//1vw / 18
$unitV = 100vh / 1760 //1vh / 11
$lineHeight = 1.25

$black = #2F2F2F
$white = #FFFFFF
$grey = #F2F2F2
$brown = #DBD5C9
$red = #F93700
$pink = #F9DDDD
$walsheim = 'GT Walsheim', sans
$schnyder = 'Schnyder L', serif
$light = 300
$reg = 400
$demi = 600

