.blur
  position relative
  &.ready
    filter blur(1px)
  &.blur-sml.ready
    filter blur(.5px)
  .inner-blur
    position absolute
    display block
    top 0
    left 0
    width 100%
    height 100%
    opacity 0.1
    &:before
      content attr(data-text)
.work + .work .blur .inner-blur
  opacity 0.3



