.blur-container
  svg
    opacity 0
    transition opacity 2s ease-out-quad
  &.ready
    animation-name blur
    animation-duration 5s
    animation-timing-function ease-out-quad
    animation-iteration-count infinite
    animation-direction alternate
    svg
      opacity 1

@keyframes blur
  0%
    transform translate(-10%,7%)
  10%
    transform translate(7%,-3%)
  20%
    transform translate(-5%,8%)
  30%
    transform translate(-8%,-8%)
  40%
    transform translate(-5%,-10%)
  50%
    transform translate(-10%,5%)
  60%
    transform translate(-8%,-7%)
  70%
    transform translate(9%,-8%)
  80%
    transform translate(-6%,-5%)
  90%
    transform translate(6%,9%)
  100%
    transform translate(-10%,7%)



