.mobile-trans
  display block
  transition opacity .9s ease-out-quad .1s, transform .9s ease-out-quad .1s
.mobile-anime
  transition none
  opacity 0
  transform translateY(50px)
.mobile-anime.mobile-anime-top
  transform translateY(-50px)
