
.no-touch
  &::-webkit-scrollbar-track
    -webkit-box-shadow none
    background-color none
  &::-webkit-scrollbar
    width 0px
    background-color transparent
  &::-webkit-scrollbar-thumb
    background-color none
  scrollbar-width none
