
body.no-touch::-webkit-scrollbar-track
  -webkit-box-shadow none
  background-color none
body.no-touch::-webkit-scrollbar
  width 0px
  background-color transparent
body.no-touch::-webkit-scrollbar-thumb
  background-color none
