.work-link
  display flex
  align-items center
  font-size 8.7vw
  line-height 1
  color $red
  .number
    font-size 1vw
    margin-right 2vw
    line-height 2
    font-family $walsheim
    font-weight $light
    letter-spacing 3px
    display block
    &.wide
      border-bottom 0.2vw solid $red
      width 13vw
      text-align center
      margin-right 4vw
  .label
    display flex
    align-items baseline
  .underline
    border-bottom 0.2vw solid $red
  span
    font-size 3.6vw
  span.slash
    font-size 7vw
    align-self flex-end
